name: RDP

on:
  workflow_dispatch:

jobs:
  secure-rdp:
    runs-on: windows-latest
    timeout-minutes: 3600

    steps:
      - name: Enable RDP
        shell: powershell
        run: |
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' `
            -Name "fDenyTSConnections" -Value 0
          Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
          Restart-Service TermService -Force

      - name: Create RDP User
        shell: powershell
        run: |
          $password = "RDP@" + (Get-Random -Maximum 999999)
          $secure = ConvertTo-SecureString $password -AsPlainText -Force
          New-LocalUser -Name "RDP" -Password $secure -AccountNeverExpires
          Add-LocalGroupMember -Group "Administrators" -Member "RDP"
          Add-LocalGroupMember -Group "Remote Desktop Users" -Member "RDP"

          Write-Host "===================="
          Write-Host "USER: RDP"
          Write-Host "PASS: $password"
          Write-Host "===================="

      - name: Install Tailscale
        shell: powershell
        run: |
          Invoke-WebRequest https://pkgs.tailscale.com/stable/tailscale-setup-amd64.msi -OutFile ts.msi
          Start-Process msiexec.exe -ArgumentList "/i ts.msi /quiet /norestart" -Wait

      - name: Connect Tailscale
        shell: powershell
        run: |
          & "C:\Program Files\Tailscale\tailscale.exe" up `
            --authkey=${{ secrets.TAILSCALE_AUTH_KEY }} `
            --hostname=github-rdp

          & "C:\Program Files\Tailscale\tailscale.exe" ip -4
          Write-Host "Use esse IP no RDP"

      - name: Keep Alive
        shell: powershell
        run: |
          while ($true) {
            Start-Sleep 300
          }
