name: Remote Desktop Nvidia UE5
on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Preparar Sistema e Drivers Nvidia
        run: |
          sudo add-apt-repository ppa:graphics-drivers/ppa -y
          sudo apt update
          sudo apt install -y xfce4 xfce4-goodies nvidia-driver-535 libvulkan1 mesa-utils

      - name: Instalar Chrome e Remote Desktop
        run: |
          wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
          sudo apt install -y ./google-chrome-stable_current_amd64.deb
          wget https://dl.google.com/linux/direct/chrome-remote-desktop_current_amd64.deb
          sudo apt install -y ./chrome-remote-desktop_current_amd64.deb

      - name: Configurar Sessão Desktop
        run: |
          sudo bash -c 'echo "exec /etc/X11/Xsession /usr/bin/xfce4-session" > /etc/chrome-remote-desktop-session'

      - name: Autenticação
        run: |
          "%PROGRAMFILES(X86)%\Google\Chrome Remote Desktop\CurrentVersion\remoting_start_host.exe" --code="4/0AfrIepDOXdAZoGOEUZKrBZxGuSdXIWWcBR9NIsJIkEUD1NKlQm1RNcye-Lbf9qrHFsDEJg" --redirect-url="https://remotedesktop.google.com/_/oauthredirect" --name=%COMPUTERNAME%
          
