name: Windows Remote Desktop
on: workflow_dispatch

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Baixar e Instalar Chrome Remote Desktop
        run: |
          Invoke-WebRequest -Uri https://dl.google.com/edgedl/chrome-remote-desktop/chromeremotedesktophost.msi -OutFile sudo-crd.msi
          msiexec.exe /i sudo-crd.msi /qn
          
      - name: Configurar Registro (Hack para permitir Headless)
        run: |
          # Garante que o serviço entenda que pode rodar sem monitor físico
          New-ItemProperty -Path "HKLM:\System\CurrentControlSet\Control\Terminal Server" -Name "fDenyTSConnections" -Value 0 -PropertyType DWORD -Force

      - name: Iniciar Host Remoto
        shell: cmd
        run: |
          @echo off
          echo COLE O COMANDO DE AUTENTICAÇÃO DO GOOGLE ABAIXO:
          :: Vá em https://remotedesktop.google.com/headless
          :: Copie o comando para WINDOWS (PowerShell/CMD) e cole aqui:
          
          <COLE_AQUI_O_COMANDO_DO_GOOGLE_REMOTE_DESKTOP> --pin=123456

      - name: Manter Ativo (6 horas)
        run: |
          $val = 0
          while($val -lt 360) {
            Write-Host "Mantendo conexão viva... $val minutos"
            Start-Sleep -Seconds 60
            $val++
          }
